/* Style tab links */




.tab  {
    width: 100%;
      display: flex;
   justify-content : first(1) center;
    flex-wrap: wrap;
  
}


button {
 
    border-radius: 20px;
    margin:5px 5px;
width: 70px;
    height: 30px;


}

.tablinks {

    background-color: rgba(71, 71, 71, 0.548);
    color: rgb(192, 192, 192);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 16px;
    font-size: 12px;

}

.tablink:hover {
    background-color: rgb(71, 71, 71);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
      display: none;
    margin: 0 0;
}

